html {
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  background-color: #00b23c;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
}

.indent {
  margin-bottom: 120px;

  @media (max-width: 992px) {
    margin-bottom: 100px;
  }
  @media (max-width: 530px) {
    margin-bottom: 85px;
  }
}