.footer {
  background: #1f281e;
  color: #fff;
  padding: 40px 0 32px 0;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  gap: 48px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  min-width: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-title {
  font-weight: 700;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.nav-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-col li {
  margin-bottom: 4px;
}

.footer__link {
  color: #e9e4e4;
  max-width: max-content;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: color 0.35s, border .4s;
}

.footer__link:hover {
  color: #5cff7c;
}

.footer__link:focus {
  border-color: #5cff7c;
}

.contact-col {
  font-size: 1rem;
  gap: 4px;
}

.social-col {
  align-items: flex-start;
}

.footer-social-icons {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

.social-icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 8px;
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
  transition: box-shadow 0.2s, transform 0.2s;
}

@media (max-width: 1220px) {
  .footer__logo {
    width: 190px;
    height: auto;
  }
}

@media (max-width: 960px) {
  .social-col {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footer__logo {
    width: 176px;
  }
}

@media (max-width: 820px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__logo {
    margin: 0 auto;
  }
}

@media (max-width: 468px) {
  .footer-title {
    text-transform: initial;
  }
}